/* src/components/ChatWindow.css */
.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.chat-header {
  padding: 15px;
  background-color: #075E54;
  color: #fff;
  border-bottom: 1px solid #ddd;
}

.chat-header-info {
  display: flex;
  flex-direction: column;
}

.contact-status {
  font-size: 0.9rem;
  color: #c2e0c6;
}

.chat-messages {
  flex: 1;
  padding: 15px;
  background-color: #e5ddd5;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 15px;
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.sent {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.received {
  align-self: flex-start;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

.message-info {
  font-size: 0.75rem;
  color: #555;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.message-status {
  margin-left: 10px;
}

.check {
  font-size: 1em;
}

.sent-check {
  color: grey;
}

.delivered-check {
  color: grey;
}

.read-check {
  color: #34B7F1;
}
